/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
	background-color: #fffcf8;
}

/* Changing the background colour for the header */

header {
	background-color: #000060;
}

.header-one {
	font-family: "Roboto", sans-serif !important;
	font-weight:600 !important;
	font-size: 40px;
	padding-top: 40px;
}
/* Changing the background color for the navigation bar */

.navbar {
	background-color: #F1E0C9;
}

.navbar-brand {
	color: #EE4C39;
	font-family: "Roboto", sans-serif !important;
	font-weight:600;
}

.nav-link{
	color: #EE4C39 !important;
	margin-left: 30px;
}

.hero-image {
	background-image:url("../../Production/images/iStock-1440967752.jpg");
	padding-top: 400px;
	background-repeat: no-repeat;
  	background-size: cover;
	background-position: center;
}

.button {
	background-color: #EE4C39;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50px;
  left: 50px;
  transform: translate(-50px, -50px);
  color: white;
	margin-top: 100px;
}

.footer {
	Background-color: #EE4C39;
	color: white !important;
}

.section-two{
	Background-color:#F1E0C9;
}
.container {
	margin-top: 20px !important;
}

/* portfolio items*/

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #f6afca;
	font-weight: bold;
}

/* Hero Section shadow */

.white-shadow {
	text-shadow: -.01em -.01em .01em white,
		.02em .02em .02em white,
		0 0 .2em white,
		0 0 .5em white;
}

.portfolio-item{
	background-color: white;
	max-width: 26rem;
	margin-left: auto;
	margin-right: auto;
  }

.portfolio-caption-heading{
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
  font-size: 1.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  margin-bottom: 0;
}

.portfolio-caption-subheading{
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* fonts below */

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black  { 
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

