/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
	background-color: #fffcf8;
}

/* Changing the background colour for the header */

header {
	background-color: #000060;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #fff0e0;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

/* Hero Section shadow */

.white-shadow {
	text-shadow: -.01em -.01em .01em white,
		.02em .02em .02em white,
		0 0 .2em white,
		0 0 .5em white;
}

  #portfolio .portfolio-item {
	max-width: 26rem;
	margin-left: auto;
	margin-right: auto;
  }
  #portfolio .portfolio-item .portfolio-link {
	position: relative;
	display: block;
	margin: 0 auto;
  }
  #portfolio .portfolio-item .portfolio-link .portfolio-hover {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(255, 200, 0, 0.9);
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity ease-in-out 0.25s;
  }
  #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
	font-size: 1.25rem;
	color: white;
  }
  #portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
	opacity: 1;
  }
  #portfolio .portfolio-item .portfolio-caption {
	padding: 1.5rem;
	text-align: center;
	background-color: #fff;
  }
  #portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
	font-size: 1.5rem;
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 700;
	margin-bottom: 0;
  }
  #portfolio .portfolio-item .portfolio-caption .portfolio-caption-subheading {
	font-style: italic;
	font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  
  .portfolio-modal .modal-dialog {
	margin: 1rem;
	max-width: 100vw;
  }
  .portfolio-modal .modal-content {
	padding-top: 6rem;
	padding-bottom: 6rem;
	text-align: center;
  }
  .portfolio-modal .modal-content h2, .portfolio-modal .modal-content .h2 {
	font-size: 3rem;
	line-height: 3rem;
  }
  .portfolio-modal .modal-content p.item-intro {
	font-style: italic;
	margin-bottom: 2rem;
	font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  .portfolio-modal .modal-content p {
	margin-bottom: 2rem;
  }
  .portfolio-modal .modal-content ul.list-inline {
	margin-bottom: 2rem;
  }
  .portfolio-modal .modal-content img {
	margin-bottom: 2rem;
  }
  .portfolio-modal .close-modal {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	width: 3rem;
	height: 3rem;
	cursor: pointer;
	background-color: transparent;
  }
  .portfolio-modal .close-modal:hover {
	opacity: 0.3;
  }